<body>
    <div class="menu" ALIGN="center">
        <form action="">
            <h2>Inicio Sesion</h2>
            <div ALIGN="center" class="email1" >
                Ingrese Email:
            <input
                id="email2" 
                type="text" 
                placeholder="Email" 
                onclick="placeholder=''">

            </div>
            <div class="contrasena">
                    Ingrese contraseña
            <input 
                id="Contraseña"
                type="text" 
                placeholder="contraseña" 
                onclick="placeholder=''">

            </div>
            <div class="BtnIS">
            <a href="#" class="btnIS"> Iniciar Sesion</a>
            </div>
            <div class="BtnIS">
            <a href="Register.html" class="btnIS"> Registrarse</a>
            </div>
            <div class="BtnIS">
            <a href="#" class="btnIS"> Recuperar contraseña</a>
            </div>
        </form>
        
    </div>
</body>

