
.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 600px;
    height: 300px;
    position:absolute;
    top: 150px;
    left: 400px;
    border-radius: 30px;
}

body{
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;
    width:1340px;
    height:800px ;
    
} 
.email1{
    margin-left: 20%;
    margin-right: 20%;
}
.contrasena{
    margin-left: 20%;
    margin-right: 20%;
}
.btnIS{
    margin-top: 50%;
   
}
.BtnIS{
    margin-top: 20px;
}
input{
    margin-top: 20px;
}