.header{
    border: 1px solid black;
    background-color: #568ab59c;
    padding: 0.5% 0.5% 0% 0.5;
    align-items: center;
    border-collapse: collapse;
    width: 1340px;
}
.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 1340px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titulo{
    font-size: 35px;
    user-select: none;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    color: black;
    padding-left: 25%;

}

.botones{
    justify-content: space-between;
    display:flex;

}

.boton{
    width:100%;
    height:100% ;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;

}

/**/


.Botom{
    border: 1px solid black;
    background-color: #568ab59c;
    width: 1340px;
    height: auto;
}

.Redes{
    width: 13%;
    /*Para espaciar de manera igual*/
    justify-content: space-between;
    display: flex;
    /**/
    padding: 0% 1% 0% 1%;
    border: 0% 0% 0% 0%;
    
}
.Info{
    width: 49%;
}


/**/
.Materias{
    height: 50%;

    width: 70%;
}
.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 1340px;
    height: 600px;
    
}
.Materia{
    border: 1px solid black;
    padding-bottom: 4%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
    margin-top: 1%;
    width: 85%;
    background-color: #568ab583;
    border-radius: 10px;

}

